@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Hotel Clouds</h1>
<p class="text-center">Welcome to Hotel Clouds where all your needs will be mett.</p>

<div class="text-center">
    <p>Here at Hotel Clouds we provide the bested bullshittery 
        <br /> so we can fulfill this front page with the most exquisit looking unnecessearry and probably also wrongly spelled sentences, 
        <br /> simply to provide a more "realistic" experiance of how a website might look like, 
        <br /> but giving the absolute lowest amount of effort after going insane. 
        <br /> <br /> 
        <hr />we hope you enjoy your stay :^)</p>
</div>


